* {
    box-sizing: border-box;
  }
  body {
      /* Visual, help with background: https://www.creative-tim.com/blog/web-design/bootstrap-background-image/ */
      background-image: url(assets/leaves.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
/* https://stackoverflow.com/questions/18645870/responsive-website-how-to-get-rid-of-horizontal-scroll-bar */
      overflow-x:hidden;
  }

  /* code from https://stackoverflow.com/questions/27215472/html5-tag-for-horizontal-line-break */
  hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
 }

  .wrapper {
      /* Box-model */
      width: 1024px;
      height: auto;

      /* Positioning */
      margin: 40px auto;
  }

  .card-img-center {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

h3 {
    text-align: center;
    background-color: #199410;
    color: white;
}
  #main-content {
      /* Box-model */
      width: 100%;
      padding: 30px;

      /* Positioning */
      float: left;

      /* Visual */
      background: white;
  }

  #main-content h2{
      color: #199410;
  }

.navbar,.page-footer,.btn {
    background-color: #199410;
}
  .nav-link  {
    color:#199410;
  } 

  .page-footer,.footer{
      color: white;
  }

/* Additional Screen Sizes */

/* Width at 980px and below */
@media screen and (max-width:980px) {

  
    .wrapper{
      /* Box-model */
      width: 80%;
     padding: 30px;
    }

    .card{
        width: 70%;
        height: 70%;
        padding: 0%;
    }
  
    #main-content{
      width: 100%;
    }
 
}
  
  /* Width at 768px and below */
  @media screen and (max-width: 768px) {
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content{
      width: 100%;
    }
  
    
}

   /* Width at 640px and below */
   @media screen and (max-width: 640px) {
  
    .wrapper,.card-img-top{
        /* Box-model */
        width: 70%;
        padding: 20px;
      }
    
      #main-content{
        width: 100%;
      }
 
   }