
  body {
      /* Visual, help with background: https://www.creative-tim.com/blog/web-design/bootstrap-background-image/ */
      background-image: url(leaves.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
/* https://stackoverflow.com/questions/18645870/responsive-website-how-to-get-rid-of-horizontal-scroll-bar */
      overflow-x:hidden;
  }

  /*
The width of the wrapper will be 1024px
at browser widths above 768px
*/
  .wrapper {
      /* Box-model */
      width: 1024px;

      /* Positioning */
      margin: 40px auto;
  }

  #main-content {
      /* Box-model */
      width: 500px;
      padding: 30px;

      /* Positioning */
      float: left;

      /* Visual */
      background: white;
  }
.navbar {
    background-color: #199410;
}
  .nav-link {
    color:#199410;
  }